@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

html {
  overflow-y: scroll;
}

@theme {
  /* Spacing & Sizing */
  --spacing-12.5: 3.125rem; /* 50px */
  --spacing-form-w: 350px;
  --spacing-form-h: 400px;

  /* Colors */
  --color-brand-red: rgb(218, 77, 77);
  --color-background: rgb(241, 231, 231);
  --color-gray-text: #929090;

  /* Fonts */
  --font-redhat: "Red Hat Text", ui-sans-serif, system-ui, sans-serif;
}
